venv/
*__pycache__/
.env
*.pyc
.DS_Store
.idea/
.vscode/
*.log
dist/
build/
*.egg-info/
coverage/
htmlcov/
pytest_cache/
.ipynb_checkpoints/
.mypy_cache/
.pytest_cache/
*.sqlite3
*.db
*.bak
*.swp
*.tmp
*.out
*.class
*.jar
docs/
qdrant_storage/

